# 데이터 프레임 - 시계열 자료

- 인덱스가 날짜 혹은 시간인 데이터를 시계열 자료 라고 함.

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

- DatetimeIndex 인덱스

In [5]:
date_str = ['2022, 4, 1','2022-4-2','20220403','2022.4.4','4/5/2022','040622']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06'],
              dtype='datetime64[ns]', freq=None)

In [8]:
np.random.seed(2022)
s = pd.Series(np.random.randint(40,101,6), index=idx)
s

2022-04-01    68
2022-04-02    85
2022-04-03    88
2022-04-04    89
2022-04-05    89
2022-04-06    88
dtype: int32

In [17]:
pd.date_range('20220401','2022-04-30')

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [18]:
pd.date_range('20220401', periods=30)

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [20]:
# 주말을 제외한 주중 일자로 30개를 추출
pd.date_range('20220401', periods=30, freq = 'B')
# freq = '?' 의 단어로 여러 조건을 설정가능 예) B: WORKING DAY

DatetimeIndex(['2022-04-01', '2022-04-04', '2022-04-05', '2022-04-06',
               '2022-04-07', '2022-04-08', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-18',
               '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-05-02', '2022-05-03', '2022-05-04',
               '2022-05-05', '2022-05-06', '2022-05-09', '2022-05-10',
               '2022-05-11', '2022-05-12'],
              dtype='datetime64[ns]', freq='B')

In [21]:
pd.date_range('20220401', '20220430', freq='W')         # 'W' = 일요일

DatetimeIndex(['2022-04-03', '2022-04-10', '2022-04-17', '2022-04-24'], dtype='datetime64[ns]', freq='W-SUN')

- resample

In [40]:
ts = pd.Series(np.random.randint(100, 1000, 100),
                index=pd.date_range('20220101', periods=100))
ts

2022-01-01    175
2022-01-02    246
2022-01-03    923
2022-01-04    882
2022-01-05    581
             ...
2022-04-06    237
2022-04-07    536
2022-04-08    830
2022-04-09    757
2022-04-10    760
Freq: D, Length: 100, dtype: int32

In [45]:
ts.resample('M').first()

2022-01-31    175
2022-02-28    641
2022-03-31    935
2022-04-30    190
Freq: M, dtype: int32

In [48]:
ts.head(31).tail(3)

2022-01-29    833
2022-01-30    161
2022-01-31    591
Freq: D, dtype: int32

In [44]:
ts.resample('W').mean()         # 일요일에 대한 평균 값

2022-01-02    210.500000
2022-01-09    616.857143
2022-01-16    415.857143
2022-01-23    576.142857
2022-01-30    563.857143
2022-02-06    719.428571
2022-02-13    525.714286
2022-02-20    628.857143
2022-02-27    510.714286
2022-03-06    583.571429
2022-03-13    401.714286
2022-03-20    555.428571
2022-03-27    581.285714
2022-04-03    444.142857
2022-04-10    634.714286
Freq: W-SUN, dtype: float64